/*
== ------------------------------------------------------------------- ==
== @@ Footer (footer.less)
== ------------------------------------------------------------------- ==
*/

footer .socket {
	
	background-color: #222;
	color: #ddd;
	//color: #555;
	border-top: 1px solid #fff;
	font-size: 0.9em;
	font-weight: bold;
	position: fixed;
	bottom: 0;
	width: 100%;
    z-index: 30;
	
	.page_canvas {
		
		.clearfix();
		height: 35px;
		padding-top: 12px;
		
		.copyright {
			
			float: left;
			
		}
		
		.developers {
			
			float: right;
			
		}
		
	}
	
}