/*
== ------------------------------------------------------------------- ==
== @@ General (general.less)
== ------------------------------------------------------------------- ==
*/


html {
	
	//height: 100%;
	
}

body {
	
	//height: 100%;
	padding-bottom: 35px;
	
	&.fixed {
		
		padding-top: 103px;
		
	}
	
}

.fade {

	background-repeat: repeat-x;
	height: 25px;
	width: 100%;
	position: fixed;
    z-index: 30;
	
	&.header {
		
		background-image: url('images/header_fade.png');
		background-position: center bottom;
		top: 103px;	
		
	}
	
	&.footer {
		
		background-image: url('images/footer_fade.png');
		bottom: 35px;
		height: 25px;
		
	}
	
}

.main_content {
	
	//background-color: #0a0;
	
	//height: 100%;
	padding: 50px 0;
	
}

.page_canvas {
	
	.clearfix();
	margin: 0 auto;
	height: 100%;
	width: 760px;
	
	@media only screen and (max-width:849px) {
		width: 85%;
	}

}

.poll_list {
	
	
	article {
	
		border: 1px solid #ddd;
		margin-bottom: 20px;
		padding: 10px;
		.clearfix();
		
		div {

			float: left;
			padding: 0 5px;
			
			&.title { width: 80%; }
			&.link { width: 20%; text-align: right; }
					
		}
		
	}

}
