/*
== ------------------------------------------------------------------- ==
== @@ Login page (login.less)
== ------------------------------------------------------------------- ==
*/


.splash_screen {
	
	font-family: "OratorStd";
	min-height: 100%;
	width: 100%;

	.logo {
	
		background: url('images/main_logo.jpg');
		background-size: cover;
		height: 160px;
		width:  160px;
		margin: 0 auto 50px auto;
	
	}
	
	h1 {
		
		margin-bottom: 25px;
		text-align: center;
		text-transform: lowercase;
		line-height: 1.5;
		
		@media @phone_portrait {
			margin-bottom: 30px;
		}
		
	}
	
	p {
		
		display: block;
		font-size: 1.4em;
		margin-bottom: 22px;
		text-align: center;
		text-transform: lowercase;
		
	}
	
	.signup {
		
		margin-bottom: 60px;
		
		a {
			height: 30px;
			background: none;
			font-family: "Lucida Grande", Arial, Verdana, sans-serif;
			margin: 0 auto;
			display: block;
			width: 60px;
			text-transform: uppercase;
			text-decoration: none;
			text-align: center;
			font-weight: bold;
			color: #666;
			font-size: 0.9em;
			padding-top: 8px;
			
			&:hover {
				color: #222;
				border-color: #666;
			}
			
		}
		
	}
	
	.more {
		
		text-align: center;
		margin: 0 auto;
		width: 300px;
		font-size: 1.4em;
		text-transform: lowercase;
		
		display: none;
		
		p {
			margin-bottom: 0;
		}
		
		a {
			background: url('images/arrow_down.png');
			display: block;
			height: 64px;
			width: 64px;
			margin: 0 auto;
			.opacity(0.5);
			.transition(all 0.2s ease);
			
			&:hover {
				
				.opacity(1);
				
			}
			
		}
	}
	
}



/*
== ------------------------------------------------------------------- ==
== @@ Poll Examples (login.less)
== ------------------------------------------------------------------- ==
*/

#poll_examples {
	
	min-height: 100%;
	padding-top: 40px;
	display: none;
	
}