/*
== ------------------------------------------------------------------- ==
== @@ Typography (text.less)
== ------------------------------------------------------------------- ==
*/

@font-face {
	
	font-family: "OratorStd";
	src: url('fonts/OratorStd.otf') format("opentype");
	
}

@font-face {
	
	font-family: "Orator";
	src: url('fonts/Orator.ttf') format("truetype");
	
}

@font-face {
	
	font-family: "OratorBold";
	src: url('fonts/OratorBold.ttf') format("truetype");
	
}

body {
	font-family: "Lucida Grande", Arial, Verdana, sans-serif;
	font-size: 12px;
}

h1 {
	font-size: 36px;
	font-family: "OratorStd";
}