/*
== ------------------------------------------------------------------- ==
== @@ Reset Styles
== ------------------------------------------------------------------- ==
*/
/* Eric Meyer's Reset Reloaded */
/* http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/ */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
/* remember to define focus styles! */
:focus {
  outline: 0;
}
/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*
== ------------------------------------------------------------------- ==
== @@ Media Queries
== ------------------------------------------------------------------- ==
*/
/*
== ------------------------------------------------------------------- ==
== @@ Framework
== ------------------------------------------------------------------- ==
*/
/*
.clearfix {

	display: block;
	zoom: 1;

	&:after {
		content: " ";
		display: block;
		font-size: 0;
		height: 0;
		clear: both;
		visibility: hidden;
	}

}
*/
img {
  max-width: 100%;
  height: auto;
}
.no_padding {
  padding: 0 !important;
}
.no_margin {
  margin: 0 !important;
}
/*
== ------------------------------------------------------------------- ==
== @@ Chrome Inspector
== ------------------------------------------------------------------- ==
*/
body .__web-inspector-hide-shortcut__,
body .__web-inspector-hide-shortcut__ * {
  visibility: visible !important;
  display: none !important;
}
/*
== ------------------------------------------------------------------- ==
== @@ Grid (grid.css)
== ------------------------------------------------------------------- ==
*/
.volare_row {
  display: block;
  zoom: 1;
  margin: 0 -20px;
  margin-bottom: 30px;
}
.volare_row:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.volare_row:last-child {
  margin-bottom: 0;
}
.volare_row .volare_col {
  display: block;
  float: left;
  padding: 0 20px;
  word-wrap: break-word;
}
@media only screen and (max-width:767px) {
  .volare_row .volare_col {
    margin-bottom: 50px;
  }
  .volare_row .volare_col:last-child {
    margin-bottom: 0;
  }
}
/*
== ------------------------------------------------------------------- ==
== @@ Grid of 1 (grid.css)
== ------------------------------------------------------------------- ==
*/
.volare_row .volare_col.span_1_of_1 {
  width: 100%;
}
/*
== ------------------------------------------------------------------- ==
== @@ Grid of 2 (grid.css)
== ------------------------------------------------------------------- ==
*/
.volare_row .volare_col.span_2_of_2 {
  width: 100%;
}
.volare_row .volare_col.span_1_of_2 {
  width: 50%;
}
@media only screen and (max-width:479px) {
  .volare_row .volare_col.span_2_of_2,
  .volare_row .volare_col.span_1_of_2 {
    width: 100%;
  }
}
/*
== ------------------------------------------------------------------- ==
== @@ Grid of 3 (grid.css)
== ------------------------------------------------------------------- ==
*/
.volare_row .volare_col.span_3_of_3 {
  width: 100%;
}
.volare_row .volare_col.span_2_of_3 {
  width: 66.666666666%;
}
.volare_row .volare_col.span_1_of_3 {
  width: 33.333333333%;
}
@media only screen and (max-width:767px) {
  .volare_row .volare_col.span_3_of_3,
  .volare_row .volare_col.span_2_of_3,
  .volare_row .volare_col.span_1_of_3 {
    width: 100%;
  }
}
/*
== ------------------------------------------------------------------- ==
== @@ Grid of 4 (grid.css)
== ------------------------------------------------------------------- ==
*/
.volare_row .volare_col.span_4_of_4 {
  width: 100%;
}
.volare_row .volare_col.span_3_of_4 {
  width: 75%;
}
.volare_row .volare_col.span_2_of_4 {
  width: 50%;
}
.volare_row .volare_col.span_1_of_4 {
  width: 25%;
}
@media only screen and (max-width:767px) {
  .volare_row .volare_col.span_4_of_4,
  .volare_row .volare_col.span_3_of_4,
  .volare_row .volare_col.span_2_of_4,
  .volare_row .volare_col.span_1_of_4 {
    width: 100%;
  }
}
/*
== ------------------------------------------------------------------- ==
== @@ Grid of 5 (grid.css)
== ------------------------------------------------------------------- ==
*/
.volare_row .volare_col.span_5_of_5 {
  width: 100%;
}
.volare_row .volare_col.span_4_of_5 {
  width: 80%;
}
.volare_row .volare_col.span_3_of_5 {
  width: 60%;
}
.volare_row .volare_col.span_2_of_5 {
  width: 40%;
}
.volare_row .volare_col.span_1_of_5 {
  width: 20%;
}
@media only screen and (max-width:767px) {
  .volare_row .volare_col.span_5_of_5,
  .volare_row .volare_col.span_4_of_5,
  .volare_row .volare_col.span_3_of_5,
  .volare_row .volare_col.span_2_of_5,
  .volare_row .volare_col.span_1_of_5 {
    width: 100%;
  }
}
/*
== ------------------------------------------------------------------- ==
== @@ Grid of 6 (grid.css)
== ------------------------------------------------------------------- ==
*/
.volare_row .volare_col.span_6_of_6 {
  width: 100%;
}
.volare_row .volare_col.span_5_of_6 {
  width: 83.333333333%;
}
.volare_row .volare_col.span_4_of_6 {
  width: 66.666666666%;
}
.volare_row .volare_col.span_3_of_6 {
  width: 50%;
}
.volare_row .volare_col.span_2_of_6 {
  width: 33.333333333%;
}
.volare_row .volare_col.span_1_of_6 {
  width: 16.666666666%;
}
@media only screen and (max-width:767px) {
  .volare_row .volare_col.span_6_of_6,
  .volare_row .volare_col.span_5_of_6,
  .volare_row .volare_col.span_4_of_6,
  .volare_row .volare_col.span_3_of_6,
  .volare_row .volare_col.span_2_of_6,
  .volare_row .volare_col.span_1_of_6 {
    width: 100%;
  }
}
/*
== ------------------------------------------------------------------- ==
== @@ General (general.less)
== ------------------------------------------------------------------- ==
*/
body {
  padding-bottom: 35px;
}
body.fixed {
  padding-top: 103px;
}
.fade {
  background-repeat: repeat-x;
  height: 25px;
  width: 100%;
  position: fixed;
  z-index: 30;
}
.fade.header {
  background-image: url('images/header_fade.png');
  background-position: center bottom;
  top: 103px;
}
.fade.footer {
  background-image: url('images/footer_fade.png');
  bottom: 35px;
  height: 25px;
}
.main_content {
  padding: 50px 0;
}
.page_canvas {
  display: block;
  zoom: 1;
  margin: 0 auto;
  height: 100%;
  width: 760px;
}
.page_canvas:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
@media only screen and (max-width: 849px) {
  .page_canvas {
    width: 85%;
  }
}
.poll_list article {
  border: 1px solid #ddd;
  margin-bottom: 20px;
  padding: 10px;
  display: block;
  zoom: 1;
}
.poll_list article:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.poll_list article div {
  float: left;
  padding: 0 5px;
}
.poll_list article div.title {
  width: 80%;
}
.poll_list article div.link {
  width: 20%;
  text-align: right;
}
/*
== ------------------------------------------------------------------- ==
== @@ Typography (text.less)
== ------------------------------------------------------------------- ==
*/
@font-face {
  font-family: 'OratorStd';
  src: url('fonts/OratorStd.eot');
  src: local('☺'), url('fonts/OratorStd.woff') format('woff'), url('fonts/OratorStd.ttf') format('truetype'), url('fonts/OratorStd.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Lucida Grande", Arial, Verdana, sans-serif;
  font-size: 12px;
}
a {
  color: #666;
  text-decoration: none;
}
a:hover {
  color: #000;
}
h1 {
  font-size: 36px;
  font-family: "OratorStd";
}
form label {
  font-family: "OratorStd";
  font-size: 1.2em;
  text-transform: lowercase;
}
/*
== ------------------------------------------------------------------- ==
== @@ Forms (forms.less)
== ------------------------------------------------------------------- ==
*/
form {
  display: block;
  zoom: 1;
}
form:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
input[type=text],
input[type=password],
input[type=radio],
a.add_option,
a.remove_option {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #666;
  font-size: 1em;
  height: 40px;
  width: 160px;
  border: 2px solid #ddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 0 10px;
  display: block;
  float: left;
  margin-bottom: 20px;
  margin-right: 20px;
}
input[type=text]:focus,
input[type=password]:focus,
input[type=radio]:focus,
a.add_option:focus,
a.remove_option:focus,
input[type=text]:checked,
input[type=password]:checked,
input[type=radio]:checked,
a.add_option:checked,
a.remove_option:checked,
input[type=text]:hover,
input[type=password]:hover,
input[type=radio]:hover,
a.add_option:hover,
a.remove_option:hover,
input[type=text].empty:hover,
input[type=password].empty:hover,
input[type=radio].empty:hover,
a.add_option.empty:hover,
a.remove_option.empty:hover {
  border-color: #666;
}
input[type=text]:disabled,
input[type=password]:disabled,
input[type=radio]:disabled,
a.add_option:disabled,
a.remove_option:disabled {
  background-color: #f4f4f4;
}
input[type=text]:disabled:hover,
input[type=password]:disabled:hover,
input[type=radio]:disabled:hover,
a.add_option:disabled:hover,
a.remove_option:disabled:hover {
  border-color: #ddd;
}
input[type=text].empty,
input[type=password].empty,
input[type=radio].empty,
a.add_option.empty,
a.remove_option.empty {
  border-color: rgba(255, 0, 0, 0.4);
}
@media only screen and (max-width:479px) {
  input[type=text],
  input[type=password],
  input[type=radio],
  a.add_option,
  a.remove_option {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}
input[type=submit] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #ddd;
  height: 40px;
  background-color: #444;
  margin: 0 auto;
  display: block;
  width: 40px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  float: left;
  margin-bottom: 20px;
}
input[type=submit]:focus,
input[type=submit]:hover {
  background-color: #222;
}
@media only screen and (max-width:479px) {
  input[type=submit] {
    float: none;
    width: 160px;
  }
}
input[readonly="readonly"] {
  background-color: #f4f4f4;
}
input[readonly="readonly"]:hover,
input[readonly="readonly"]:checked,
input[readonly="readonly"]:focus {
  border-color: #ddd;
}
/*
== ------------------------------------------------------------------- ==
== @@ Login and Signup Forms (forms.less)
== ------------------------------------------------------------------- ==
*/
.splash_screen .login-form,
.splash_screen .signup-form {
  width: 400px;
  margin: 0 auto 0px auto;
}
@media only screen and (max-width:479px) {
  .splash_screen .login-form,
  .splash_screen .signup-form {
    width: 100%;
  }
}
.splash_screen .login-form input[type=submit] {
  font-family: "FontAwesome";
  font-size: 1.8em;
}
.splash_screen .signup-form {
  display: none;
}
.splash_screen .signup-form input[name=username],
.splash_screen .signup-form input[name=password],
.splash_screen .signup-form input[name=confirm],
.splash_screen .signup-form input[type=submit] {
  float: none;
  margin-left: auto;
  margin-right: auto;
  width: 160px;
}
.splash_screen .signup-form input[type=submit] {
  font-size: 1.1em;
  text-transform: uppercase;
}
/*
== ------------------------------------------------------------------- ==
== @@ Edit User Form (forms.less)
== ------------------------------------------------------------------- ==
*/
.edit_user-form input {
  float: none;
}
.edit_user-form label {
  padding-left: 5px;
}
.edit_user-form input[type=text],
.edit_user-form input[type=password],
.edit_user-form input[type=radio] {
  width: 100%;
}
.edit_user-form input[type=submit] {
  width: 100px;
}
.edit_user-form input[type=radio] {
  width: 40px;
  float: left;
  margin-top: 0;
  margin-left: 0;
  cursor: pointer;
}
.edit_user-form input[type=radio][value=M] {
  background: url('images/M.png') no-repeat center center;
}
.edit_user-form input[type=radio][value=F] {
  background: url('images/F.png') no-repeat center center;
}
/*
== ------------------------------------------------------------------- ==
== @@ Edit Poll Form (forms.less)
== ------------------------------------------------------------------- ==
*/
.edit_poll-form input {
  float: none;
}
.edit_poll-form label {
  padding-left: 5px;
}
.edit_poll-form input[type=text],
.edit_poll-form input[type=password],
.edit_poll-form input[type=radio] {
  width: 100%;
}
.edit_poll-form input[type=submit] {
  width: 100px;
}
.edit_poll-form input[type=radio],
.edit_poll-form a.add_option,
.edit_poll-form a.remove_option {
  width: 45%;
  float: left;
  margin-top: 0;
  margin-left: 0;
  margin-right: 10%;
  cursor: pointer;
}
.edit_poll-form input[type=radio]:last-of-type,
.edit_poll-form a.add_option:last-of-type,
.edit_poll-form a.remove_option:last-of-type {
  margin-right: 0;
}
.edit_poll-form input[type=radio]:before {
  display: block;
  font-size: 2em;
  text-align: center;
  padding-top: 5px;
}
.edit_poll-form input[type=radio].yes:before {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\f164';
}
.edit_poll-form input[type=radio].no:before {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\f165';
}
.edit_poll-form .poll_image div {
  border: 2px solid #ddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  height: 227px;
  width: 227px;
  overflow: hidden;
  position: relative;
}
.edit_poll-form .poll_image div:hover {
  border-color: #666;
}
.edit_poll-form .poll_image div .image_preview {
  border: none;
  height: 227px;
  width: 227px;
  max-width: 227px;
  position: absolute;
  top: -1px;
  left: -1px;
}
.edit_poll-form .poll_image div .image_input {
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  background-color: #0f0;
  display: block;
  height: 250px;
  width: 230px;
  position: absolute;
  top: -30px;
}
.edit_poll-form .poll_image div .image_input:hover {
  cursor: pointer;
}
.edit_poll-form .poll_image div .camera_icon {
  color: #fff;
  font-family: "FontAwesome";
  font-size: 1.6em;
  border-radius: 3px;
  background-color: #000;
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  position: absolute;
  top: 6px;
  right: 6px;
  padding: 5px 4px 4px 4px;
}
.edit_poll-form a.add_option,
.edit_poll-form a.remove_option {
  font-family: "FontAwesome";
  font-size: 1.7em;
  text-align: center;
  padding: 9px 0 0 0;
}
.edit_poll-form a.add_option:focus,
.edit_poll-form a.remove_option:focus {
  border: 2px solid #ddd;
}
.edit_poll-form a.add_option.disabled,
.edit_poll-form a.remove_option.disabled {
  background-color: #eee;
  pointer-events: none;
  cursor: default;
}
/*
== ------------------------------------------------------------------- ==
== @@ Login page (login.less)
== ------------------------------------------------------------------- ==
*/
.splash_screen {
  font-family: "OratorStd";
  min-height: 100%;
  width: 100%;
}
.splash_screen .logo {
  background: url('images/main_logo.jpg');
  background-size: cover;
  display: block;
  height: 160px;
  width: 160px;
  margin: 0 auto 50px auto;
  -webkit-opacity: 0.95;
  -moz-opacity: 0.95;
  opacity: 0.95;
}
.splash_screen h1 {
  margin-bottom: 25px;
  text-align: center;
  text-transform: lowercase;
  line-height: 1.5;
}
@media only screen and (max-width:479px) {
  .splash_screen h1 {
    margin-bottom: 30px;
  }
}
.splash_screen p {
  display: block;
  font-size: 1.4em;
  margin-bottom: 22px;
  text-align: center;
  text-transform: lowercase;
}
.splash_screen .signup {
  margin-bottom: 60px;
}
.splash_screen .signup a {
  height: 30px;
  background: none;
  font-family: "Lucida Grande", Arial, Verdana, sans-serif;
  margin: 0 auto;
  display: block;
  width: 60px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  color: #666;
  font-size: 0.9em;
  padding-top: 8px;
}
.splash_screen .signup a:hover {
  color: #222;
  border-color: #666;
}
.splash_screen .more {
  text-align: center;
  margin: 0 auto;
  width: 300px;
  font-size: 1.4em;
  text-transform: lowercase;
  display: none;
}
.splash_screen .more p {
  margin-bottom: 0;
}
.splash_screen .more a {
  background: url('images/arrow_down.png');
  display: block;
  height: 64px;
  width: 64px;
  margin: 0 auto;
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.splash_screen .more a:hover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
/*
== ------------------------------------------------------------------- ==
== @@ Poll Examples (login.less)
== ------------------------------------------------------------------- ==
*/
#poll_examples {
  min-height: 100%;
  padding-top: 40px;
  display: none;
}
/*
== ------------------------------------------------------------------- ==
== @@ Header (header.less)
== ------------------------------------------------------------------- ==
*/
header {
  font-family: "OratorStd";
  font-size: 1.2em;
  text-transform: lowercase;
  padding-bottom: 25px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 30;
}
header.dark {
  background-color: #292929;
}
header.dark a {
  color: #ddd;
}
header.dark .main .logo {
  background-image: url('images/header_logo_dark.png');
}
header .meta_bar {
  display: block;
  zoom: 1;
}
header .meta_bar:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
header .meta_bar a {
  float: right;
  line-height: 2em;
  margin-left: 15px;
}
header .meta_bar a:before {
  margin-right: 5px;
  line-height: 1;
}
header .meta_bar a.logout:before {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\f08b';
}
header .meta_bar a.my_profile:before {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\f007';
  font-size: 0.9em;
}
header .meta_bar a.my_profile:after {
  content: '|';
  margin-left: 15px;
}
header .main {
  display: block;
  zoom: 1;
}
header .main:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
header .main .logo {
  background: url('images/header_logo.png') no-repeat center center;
  background-size: 132px 50px;
  display: block;
  height: 50px;
  width: 132px;
  float: left;
}
header .main .main_menu {
  float: right;
}
header .main .main_menu ul {
  display: block;
  zoom: 1;
  margin: 0 -15px;
}
header .main .main_menu ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
header .main .main_menu ul li {
  float: left;
}
header .main .main_menu ul li a {
  line-height: 2em;
  margin-top: 10px;
  display: block;
  width: 100%;
  padding: 0 15px;
  text-align: center;
  font-size: 1.2em;
}
header .main .main_menu ul li a.home:before {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\f015';
}
header .main .main_menu ul li a.new_poll:before {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\f055';
}
header .main .main_menu ul li a.my_polls:before {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\f0ca';
}
header .main .main_menu ul li a:before {
  margin-right: 5px;
  font-size: 0.9em;
  line-height: 1;
}
/*
== ------------------------------------------------------------------- ==
== @@ Footer (footer.less)
== ------------------------------------------------------------------- ==
*/
footer .socket {
  background-color: #222;
  color: #ddd;
  border-top: 1px solid #fff;
  font-size: 0.9em;
  font-weight: bold;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 30;
}
footer .socket .page_canvas {
  display: block;
  zoom: 1;
  height: 35px;
  padding-top: 12px;
}
footer .socket .page_canvas:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
footer .socket .page_canvas .copyright {
  float: left;
}
footer .socket .page_canvas .developers {
  float: right;
}
